# Dépendances Node.js
api/node_modules

ETL/continent.csv
ETL/country_wise_latest_modified_final.csv
ETL/owid-monkeypox-data-final.csv
ETL/pays.csv
ETL/worldometer_coronavirus_daily_data_final.csv

# Logs et fichiers temporaires
*.log
*.tmp

package-lock.json